body {
  text-align: center;
  background-image: url("../img/seedling.jpg");
  background-repeat: repeat;
}


.jumbotron {
  background-color: rgb(211, 238, 211);
  opacity: 70%;
}

.btn-link {
  color: gray;
}

.large {
  font-size: 100px;
}

.card {
  margin: 20px;
  border-style: solid;
  border-width: 5px;
}

.button {
  background-color: rgb(211, 238, 211);
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.card-body1 {
  padding: 10px;
}

.card-body2 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: center;
}

