body {
  background-image: url("../img/seedling.jpg");
  background-repeat: repeat;
  background-position: bottom;
}

.jumbotron {
  background-color: rgb(211, 238, 211);
}

.btn-link {
  color: rgb(12, 105, 0)
}

.large {
  font-size: 100px;
}

.card {
  margin: 20px;
  margin-top: 20px;
  text-align: center;
  border: none;
}

img.header-line {
  width: 125px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.center {
  margin: auto;
  width: 50%;

}

.button {
  background-color: rgb(211, 238, 211);
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.card-body1 {
  padding: 15px;
}

.card-body2 {
  text-align: left;
  padding: 15px;
}

.card-body3 {
  text-align: center;
  padding: 15px;
}

.list-style {
  text-align: left;
}

p {
  text-align: center;
}

p.subtext {
  font-size: 14px;
  text-align: left;
}

footer {
  color: white;
  text-align: center;
}

h2 {
  margin-top: 15px;
}

.link {
  color: rgb(12, 105, 0)
}

a:hover {
  color: rgb(109, 204, 109);
}