body {
  background-image: url("../img/seedling.jpg");
}

.jumbotron {
  background-color: rgb(211, 238, 211);
  opacity: 70%;
}

.btn-link {
  color: gray;
}

.large {
  font-size: 100px;
}

.card {
  margin: 20px;
  text-align: center;
  border: none;
}

img.header-line {
  width: 125px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.button {
  background-color: rgb(211, 238, 211);
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.card-body1 {
  padding: 15px;
}

.card-body2 {
  text-align: left;
  padding: 10px;
}

.list-style {
  text-align: left;
}

p {
  text-align: center;
}

p.subtext {
  font-size: 14px;
  text-align: left;
}

footer {
  color: white;
  text-align: center;
}

